<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,89},{43,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{43,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{43,46}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{41,46}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,48},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,88},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{41,44}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,50},{43,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{43,44}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,45},{45,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,170},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{45,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,44},{45,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{43,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{43,50}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{48,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{48,40}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,90},{43,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{43,38}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resourcefile8X8.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:609dc39a7f16f3157f6d8fe4ce257dfb$</string>
            <key>textureFileName</key>
            <string>resourcefile8X8.png</string>
        </dict>
    </dict>
</plist>
